.income-table-div, .income-button-new-div{
  max-width: 1000px;
  margin: auto;
}

.income-button-new-div{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

table{
  width: 100%;
}

.action-column-link{
  color: #3f51b5;
}

.action-column-link:active{
  color: #f44336;
}
