<mat-card class="mat-card">
  <mat-card-header class="mat-card-header">
    <div class="mat-card-header-div">
      <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="mat-card-div-avatar">
      <mat-card-title class="mat-card-div-title">Shiba Inu</mat-card-title>
    </div>
  </mat-card-header>
  <!--<mat-card-content>
    <div class="mat-card-content-div-informacoes">
      <p><i class="material-icons">mail</i>shiba.inu@dog.com</p>
      <p><i class="material-icons">call</i>(38) 9 98728433</p>
      <p><i class="material-icons">language</i>shibainu.dog.com</p>
      <p><i class="material-icons">location_on</i>Belo Horizonte</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a routerLink="">
      <img src="../../../../assets/icons/linkedin_icon.png" alt="linkedin icon">
    </a>
    <a routerLink="">
      <img src="../../../../assets/icons/youtube_icon.png" alt="youtube icon">
    </a>
    <a routerLink="">
      <img src="../../../../assets/icons/github_icon.png" alt="github icon">
    </a>
    <a routerLink="">
      <img src="../../../../assets/icons/facebook_icon.png" alt="facebook icon">
    </a>
  </mat-card-actions>-->
</mat-card>
