.mat-card {
  border-radius: 0;
  //background: linear-gradient(to bottom, #000 37%, #fff 0%);
  padding: 30px 0;
}

.mat-card-header {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mat-card-header-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-card-div-title{
  margin-bottom: 0px !important;
}

.mat-card-div-avatar {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}

/**mat-card-content {
  max-width: 1000px;
  margin: auto;
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mat-card-content-div-informacoes {
  display: block;
  text-align: justify;
}

.mat-card-content-div-informacoes>p {
  margin: 5px 0px;
  display: flex;
  align-items: center;
}

i {
  padding: 0px 3px;
  font-size: 1.2rem;
}

mat-card-actions{
  padding-top: 5px;
  margin: 0 auto;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a{
  max-height: 30px;
}

a > img {
  margin: 0;
  width: 30px;
  height: 30px;
}*/
